{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<dev class='login'>
<form method="post">
    {% csrf_token %}
    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <button type="submit">Login</button>
      </div>
</form>
</dev>
{% endblock %}